@model partialview.Models.Urun

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div>
    <h4>Urun</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunKodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunKodu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAdedi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAdedi)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
